html {
  scroll-behavior: smooth;
}
 
 
.App {
  text-align: center;
}
 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
/* dim image in app-header*/
.App-header {
  background-image: url("newBasket.jpg");
  background-size: cover; /*default for entire container*/
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  filter: brightness(92%);
} 
 
@media (min-width: 50%) {
  .App-header, image-header {
    background-size: cover;
  }
}
 
.image-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: 'black';
}
 
.navBar {
  display:flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  padding: 15px;
  z-index: 1;
  color: white;
  width: 75%;
  border-radius: 10px;
  margin-top: -10px;
}
 
/*Title on the left side of the Nav Bar*/
.nav-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
 }
 
 
.navBar a {
  font-weight: bold;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

/* .filter-dropdown {
  font-weight: bold;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
} */

.nav-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}
 
/*Nav Bar links horiontally aligned even when screen resized*/
@media (max-width: 50%) {
  .navBar {
    width: 90%;
    flex-wrap: nowrap;
  }
  .navBar-links {
    gap: 10px;
  }
  .navBar a {
    padding: 8px 15px;
    font-size: 14px;
  }
  .nav-icon {
    width: 16px;
    height: 16px;
  }
}

.filter-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 45px; /* Adjust based on your nav height */
  border-radius: 10px;
}

.dropdown-content label {
  margin-bottom: 8px;
  text-align: left;
  font-size:16px;
  color: black;
}

/* button effects */
.filter-dropdown button {
  cursor: pointer;
  border: none;
  color: white;
  font-size:16px;
  font-weight: bold;
  color: black;
  padding: 10px 26px 8px 26px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.navBar-links {
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 18px;
  gap: 15px;
 }
 
 
.navBar-link a:hover {
  color: rgb(101, 109, 74);
}
 
.navBar-link a.active {
  color: black;
 }
 
/* center text in middle of background image */
.middle-text{
  display: flex;
  font-size: 25px;
  justify-content: center;
  height: 140vh;
  padding-left: 0.5cm;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
 
/*blocks holding the school info to the right of the map*/
.InfoSection {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  height: 100%; /* makes the elements take the full height of the container */
  flex: 1; 
}

.InfoSection-Title {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  height: 100%; /* makes the elements take the full height of the container */
  flex: 1; 
  font-weight: 600;
  font-size:large;
  text-align: center;
}


.InfoSection:hover {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(77, 77, 77, 0.6);
  text-align: left;
}

.school-name {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}
 
.center-info {
  margin-bottom: 16px;
}

.center-name {
  font-size: 20px;
  margin: 10px 0;
  color: rgb(101, 109, 74);
}

.center-details {
  font-size: 16px;
  margin: 5px 0 15px;
}
 
.contact-info {
  font-size: 16px;
  margin: 5px 0;
}
 
.more-info-link {
  display: block;
  font-size: 16px;
  color: rgb(101, 109, 74);
  text-decoration:none;
}

 
.more-info-link:hover {
  text-decoration: underline;
}
 
/* Basic styling for the container and boxes */
 .container {
  display: flex;
  flex-wrap: wrap; /* Allows the boxes to wrap */
  justify-content: fill;
  height: 100vh; /* or the desired height */
  background-color: lightblue;
}

 
.school-info-section-box {
  width: 100%;
  max-width: 800px;
}
 
.box {
  flex: 1 1;
  background-color: lightblue;
  text-align: center;
  padding: 0px 10px 0px 2px;
  display: flex;
  height: 1000px;
  flex-direction: column;
  flex-wrap: nowrap;
}

 /* Media query for smaller screens */
 @media (max-width: 57%) {
  .container {
      flex-direction: column; /* Stacks the boxes on top of each other */
  }
  .box {
      flex: 100%; /* Each box takes full width */
     
  }
  .box1 {
    position: absolute;
  }
 }
 
 .pageArrows {
  display: flex; /* Arrange items in a row */
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Horizontally center the items */
  gap: 10px; /* Space between the elements */
  margin-top: 20px; 
  height: 100%; /* makes the elements take the full height of the container */
  flex: 1; 
}

.pageArrows button {
  background-color: #f0f0f0; 
  border: none; 
  padding: 5px 20px; 
  border-radius: 10px; 
  font-size: 18px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.pageArrows button:hover {
  background-color: #d0d0d0; /* Change background color on hover */
}